.result-search-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 36px;
  line-height: 35px;
  padding: 0 0 0 32px;

  @media (max-width: 991px) {
    display: block;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    padding: 0;
  }

  &__text {
    display: block;
    color: $c-gray-text;
    margin: 0 12px 0 0;

    @media (max-width: 991px) {
      margin: 0 0 10px;
    }
  }

  &__value {
    display: block;
    color: $c-dark-text;
  }
}