.result-search-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 36px;
  line-height: 35px;
  padding: 0 0 0 32px;

  &__text {
    display: block;
    color: $c-gray-text;
    margin: 0 12px 0 0;
  }

  &__value {
    display: block;
    color: $c-dark-text;
  }
}