.main-menu-nav {

  &_footer {
    margin: 0 0 0 30px;

    @media (max-width: 767px) {
      margin: 0;
    }

    & .main-menu-link {
      color: #fff;
      text-transform: none;
      font-weight: bold;
    }

    & .main-menu-item {
      margin-left: 10px;

      @media (max-width: 767px) {
        margin: 0 0 30px;
      }
    }
  }
}