.main-menu-link {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #333333;
  display: inline-block;
  vertical-align: top;
  padding: 3px 0;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;

  &.strong {
    font-weight: bold;
  }

  &.active {
    border-bottom: 2px solid currentColor;
  }
}