.header-mob-button {
  display: flex;
  align-items: center;
  margin-right: -10px;
}

.button-search, .button-user {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}