.header-mob-menu {
  position: fixed;
  top: 50px;
  left: 0;
  max-width: 300px;
  width: 100%;
  z-index: 2998;
  transform: translateX(-100%);
  transition: 300ms;
  opacity: 0;

  &.open {
    opacity: 1;
    transform: translateX(0);
  }
  
  & .main-menu-nav {
    background: #fff;
    padding: 50px 20px;

    & .main-menu-item {
      margin: 0 0 15px;
    }
  }
}