.button-main {
  @include button;
  background: $c-bg-main;
  border-color: $c-main;
  box-shadow: 0 4px 10px #EEF2F5;
  color: #fff;

  &_big {
    min-width: 200px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
  }

  &:hover, &:focus, &:active {
    background: #fff;
    color: $c-main;

    & svg path {
      fill: $c-main;
    }
  }
}