.button-main {
  @include button;
  background: $c-bg-main;
  border-color: $c-main;
  box-shadow: 0 4px 10px #EEF2F5;
  color: #fff;

  &_big {
    min-width: 200px;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;

    .form-main-button & {
      min-width: 250px;
    }
  }

  &_small {
    min-width: 128px;
    height: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
  }

  &:hover, &:focus, &:active {
    background: #fff;
    color: $c-main;

    & svg path {
      fill: $c-main;
    }
  }
}