.empty-box-descr {
  max-width: 302px;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: $c-dark-text;
  margin: 23px auto 0;

  @media (max-width: 991px) {
    font-size: 12px;
    line-height: 11px;
  }
}