.info-box-card-descr {
  max-width: 240px;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: #333333;
  margin: 0 auto;

  @media (max-width: 991px) {
    font-size: 12px;
    line-height: 11px;
  }
}