.page-section {
  //margin: 20px 0;

  &_gray {
    background: $c-light;
  }

  &_dark {
    background: $c-dark-text;
  }

  &_404 {
    & .page-content {
      margin: 0 auto 80px;
    }
  }

  &_marg {
    & .page-content {
      margin: 80px auto;
    }
  }
}