.text-banner-box-descr {
  max-width: 516px;
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #333333;

  @media (max-width: 991px) {
    font-size: 14px;
    line-height: 13px;
  }
}