.media-box-light-descr {
  max-width: 840px;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  color: #333333;

  @media (max-width: 991px) {
    font-size: 12px;
    line-height: 11px;
  }

  & a {
    color: $c-main;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}