.media-box-section-descr {
  width: 608px;
  height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #333333;
}