.panel-info-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  color: #FFFFFF;

  @media (max-width: 767px) {
    font-size: 12px;
    line-height: 16px;

    & .mob-block {
      display: block;
    }
  }

  & .strong {
    font-weight: bold;
  }
}