.banner-descr {
  max-width: 516px;
  width: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  color: #333333;

  @media (max-width: 991px) {
    max-width: 256px;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    background: #fff;
    margin: 0 auto;
  }
}