.banner-box {
  height: 100%;
  box-shadow: 0 4px 10px rgba(238,242,245,1);
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;

  @media (max-width: 991px) {
    padding: 20px;
  }
}